# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local

# Logs
logs
*.log

# Other
node_modules/
.cache/
